<h1>Watch Collection</h1>

<div class="row"> 
	<% @watches.each do |watch| %>
		<div class="col-md-4 mt-3">
			<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="..." alt="Card image cap">
					<div class="card-body">
									<h5 class="card-title">
													<%= watch.brand %>
									</h5>
									<p class="card-text">
													<%= watch.model %>
									</p>
									<%= link_to "Add to Favourite", make_favourite_path(watch_id: watch), method: "put",class: "btn btn-primary" %>
					</div>
			</div>
		</div>
	<% end %>
 </div> 

 